* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  text-align: center;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.find-btn {
  margin-block: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #ff7e03;
  font-size: 2rem;
  color: #faf9f6;
}
.arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  background-color: #ff7e03;
  border-radius: 50%;
  color: #faf9f6;
  font-size: 3rem;
  box-shadow: 5px 5px 0px 0px #faf9f6;
}
img {
  display: block;
  margin: auto;
}
